extends tpl

block style_head
    link(rel='stylesheet', href='/css/snippets.css')

block content
    - each snippet in snippets
        article.entry
            header
                hgroup
                    h2.entry-title
                        b &#10162;
                        a.title(target='_blank',href='/snippets/'+snippet._id) #{snippet.title}
                        span.author #{snippet.author}
                    - if (snippet.hasEffectBtn)
                        - var effectBtn = '<button class="effect-btn" id="' + snippet.effectBtnId + '">点击看效果</button>'
                        | !{effectBtn}
            .mod-btn-con
                a.mod-btn.tst-all-02(href='/mod-snippet/'+snippet._id, title='修改该条目', target='_blank')
            section.entry-info
                - if (snippet.desc)
                    p.desc #{snippet.desc}
            - each code in snippet.codes
                - var secClass = ['code', code.type + '-code']
                section(class=secClass)
                    h3 #{code.type}
                    - var preClass = ['brush:'+code.type+';', 'toolbar:false;gutter:false;']
                    pre(class=preClass) #{code.code}
                    b.type-bg #{code.type}
            span.hide.snippet-id #{snippet._id}

block script_foot
    include syntaxhighlighter
    script(src='/js/snippets.js')
    case type
        when 1: script(src='/js/effect-snippets.js')
        // when 3: script(src='/js/code-snippets.js')
