extends tpl

block style_head
    link(rel='stylesheet', href='css/snippets.css')

block nav
    nav.main-nav
        ul.list
            li.selected.f4 
                a.ib(href='/snippets') Effect
            li.f4 
                a.ib(href='/snippets?type=api') Code

block content
    section.effect-block
        - each snippet in snippets
            article.entry
                header
                    hgroup
                        h2.entry-title
                            b &#10162;
                            span.title #{snippet.title}
                            span.author #{snippet.author}
                        - if (snippet.hasEffectBtn)
                            - var effectBtn = '<button class="effect-btn" id="' + snippet.effectBtnId + '">点击看效果</button>'
                            | !{effectBtn}
                section.entry-info
                    - if (snippet.desc)
                        p.desc #{snippet.desc}
                - each code in snippet.codes
                    section.code
                        h3 #{code.type}
                        pre #{code.code}
                        b.type-bg #{code.type}
                span.hide.snippet-id #{snippet._id}

block script_foot
    script(src='js/snippets.js')
